body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

div {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}

canvas {
  width: 100%;
}

button {
  background: #334155;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: lime;
  color: black;
  transform: scale(1.1);
  transition: 0.2s;
}

#portfolio h3 {
  margin-bottom: 10px;
}

#sidePortfolio {
  margin-top: 15px;
}
#sidePanel {
  position: fixed;
  right: -400px;
  top: 0;
  width: 350px;
  height: 100vh;
  background: #111;
  padding: 20px;
  transition: 0.3s;
  overflow-y: auto;
  margin: 0; 
  box-sizing: border-box; 
  z-index: 9999; 
}

#sidePanel h2 {
  margin-top: 0; 
  padding-top: 5px; 
  color: white;
}

#topBar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: rgba(30, 41, 59, 0.8);
  border-radius: 10px;
  margin-bottom: 10px;
  gap: 30px; 
  padding: 15px;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  position: sticky;
  top: 0;
}

.stock-row {
  background: #334155;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

hr {
  border: 1px solid #475569;
  margin: 10px 0;
}
#sidePanel {
  position: fixed;
  right: -400px;
  top: 0;
  width: 350px;
  height: 100%;
  background: #111;
  padding: 20px;
  transition: 0.3s;
  overflow-y: auto;
}

#sidePanel.open {
  right: 0;
}

#openPanelBtn {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 20px;
}